.statsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats {
  display: flex;
  gap: 0.5rem;
}

.stats p {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
}

.stats .total {
  color: var(--blue);
}

.stats .fulfilled {
  color: var(--purple);
}

.stats > div {
  display: flex;
  padding: 0.125rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: var(--gray-400);

  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
}
