.emptyBoard {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
  margin-top: 1.5rem;
}

.emptyBoardMessage p {
  color: var(--gray-300);
  text-align: center;
  font-size: 1rem;
}
